$purple:#7293DA;
$dark-nature:#2d2e2e;
$dark:#201515;
$transparent-dark:#36393F;
$secondary:#BACBCF;
$border:#98A9B4;
$light-white:#FBFCFE;
$red:#D83E3B;

$font:"__Inter_1b346d", "__Inter_Fallback_1b346d"
